/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.heart-container {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.heart-container input {
  position: absolute;
  opacity: 0;
}

.heart {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  background-color: #ccc;
  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ccc;
  border-radius: 50%;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
}

.heart-container input:checked + .heart,
.heart-container input:checked + .heart:before,
.heart-container input:checked + .heart:after {
  background-color: red;
}

body {
  margin-bottom: 70px;
}

.loader-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:80vh;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

